body { 
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #000000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    color: rgb(184, 184, 184);
}


.link:link, :visited {
    color: rgb(132,132,132);
}

.link:hover {
    color: hotpink;
}

.link:active {
    color: rgb(255, 123, 0);
}


